# Ignore large files 
env/
model/

# Ignore any local configuration
*.cfg

# Ignore git and cache folders
.cache

# Ignore Python byte code
__pycache__
*.pyc
*.pyo
*.pyd

project-readme.md
setup.md
.gitattributes